<!DOCTYPE html>
<html>
<header>
  <title>Etsyish</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="all">
</header>
<body>
<div class="left-column">
  <p>Some Text</p>
</div>
<div class="listings">
  <% results.each do |result| %>
    <div class="listing">
      <div class="thumb-div">
        <img class="thumb-img" src="<%= result['Images'][0]['url_170x135'] %>">
      </div>
      <div class="listing-meta">
      <div class="item-title">
        <%= result['title'] %>
      </div>
      <div class="shop">
        <%= result['Shop']['shop_name'] %>
      </div>
      <div class="price">
        <%= result['price'] %>  <%= result['currency_code'] %>
      </div>
      </div>
    </div>
 <% end %>
</div>
</body>
</html>